.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

### Node Stuff
# nodeenv virtual env folder
Sources/Javascript/env/*

# node contents
Sources/Javascript/node_modules/*